@import url(../../../../node_modules/normalize.css/normalize.css);
/*
 * Colors
 * ========================================================================== */
/*
 * Typography
 * ========================================================================== */
/*
 * Layout
 * ========================================================================== */
/*
 * Base styles
 * ========================================================================== */
@import url(../../../../node_modules/normalize.css/normalize.css);
body {
  background-color: #e9f0f5; }

html {
  color: #222;
  font-weight: 100;
  font-size: 1em;
  /* ~16px; */
  font-family: "Segoe UI", "HelveticaNeue-Light", sans-serif;
  line-height: 1.375;
  /* ~22px */
  margin: 15px; }

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: 1000px; }

/*
 * Colors
 * ========================================================================== */
/*
 * Typography
 * ========================================================================== */
/*
 * Layout
 * ========================================================================== */
/*
 * Base styles
 * ========================================================================== */
html {
  color: #222;
  font-weight: 100;
  font-size: 1em;
  /* ~16px; */
  font-family: "Segoe UI", "HelveticaNeue-Light", sans-serif;
  line-height: 1.375;
  /* ~22px */ }

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: 1000px; }

.content {
  margin-top: 73px; }

/*
 * Colors
 * ========================================================================== */
/*
 * Typography
 * ========================================================================== */
/*
 * Layout
 * ========================================================================== */
/*
 * GalleryItem styles
 * ========================================================================== */
.btn {
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 3px 20px; }

.btn-primary {
  background-color: transparent;
  color: transparent; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.liked {
    background-color: transparent;
    border-color: transparent;
    color: transparent; }

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: transparent;
  background-color: transparent;
  border-color: transparent; }

.fas.fa-heart {
  font-family: FontAwesome;
  font-style: normal;
  font-size: 1.3em; }
  .fas.fa-heart:hover, .fas.fa-heart:focus, .fas.fa-heart:active, .fas.fa-heart.liked {
    color: #EA7882; }

.blueimp-gallery {
  background: white;
  background: rgba(225, 225, 225, 0.99); }
  .blueimp-gallery a:not([href]):not([tabindex]) {
    color: white; }

.blueimp-gallery > .close, .blueimp-gallery > .title {
  font-size: 37px; }

.thumbnail {
  border-radius: 8px;
  padding: 12.5px; }
  .thumbnail .image-preview {
    display: inline-block;
    position: relative;
    margin: 0 auto; }
    .thumbnail .image-preview img {
      width: 100%;
      height: 100%;
      display: inline-block; }
    .thumbnail .image-preview .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.7;
      cursor: pointer; }
    .thumbnail .image-preview .glyphicon-zoom-in {
      font-size: 40px;
      color: white;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
  .thumbnail .caption {
    padding: 0;
    text-transform: none; }
    .thumbnail .caption h6 {
      color: #B8C3C8; }
    .thumbnail .caption .counts {
      display: inline-block;
      padding-left: 20px; }

/*
 * Colors
 * ========================================================================== */
/*
 * Typography
 * ========================================================================== */
/*
 * Layout
 * ========================================================================== */
/*
 * Gallery styles
 * ========================================================================== */
/*
 * Colors
 * ========================================================================== */
/*
 * Typography
 * ========================================================================== */
/*
 * Layout
 * ========================================================================== */
body {
  background-color: lightblue; }
